{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 align="center">Posts</h1><hr>
<br/>

{% for post in object_list %}
	<div class="card col-6 mx-auto">
		<div class="card-header">
			<a {% if post.author.profile.profile_pic %} style="text-decoration: none;" href="{% url 'show_profile_page' post.author.pk %}" {% endif %}>
				{% if post.author.profile.profile_pic %}
					<img src="{{ post.author.profile.profile_pic.url }}" style="display: inline;" width="30" height="30" class="rounded-circle" alt="profile pic">
				{% else %}
					<img src="{% static 'theblog/images/profile_pic_default.jpg' %}" width="35" height="35" class="rounded-circle" alt="profile pic">
				{% endif %}
				<h5 style="display: inline; padding-left: 3px;">{{post.author.first_name}} {{post.author.last_name}}</h5>
			</a>
			<a href="{% url 'category' post.category|slugify %}"><p style="float: right;">{{post.category.title}}</p>
			</a>
			<small  style="display: block;">{{post.post_date}}</small>
		</div>
		<div class="card-body">
		<h5 class="card-title">{{ post.title }}</h5>
		<p class="card-text">{{ post.snippet }}<br><br><br></p>
		<small>
			{% if user.is_authenticated %}
				{% if post.author.id == user.id %}
				<a href="{% url 'update_post' post.pk %}"><span style="color: black; font-size: x-large; padding-right: 5px;" class="fa fa-edit"></span></a>
				<a href="{% url 'delete_post' post.pk %}"><span style="color: black; font-size: x-large;" class="fa fa-trash"></span></a>
				{% endif %}
			{% endif %}
		</small>
		<a href="{% url 'article-detail' post.pk %}" class="btn btn-primary" style="position: absolute; bottom: 10px; right: 15px;">Read</a>
		</div>
	</div>
	<br>
{% endfor %}

{% endblock %}